<h2>Send invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <%= @teams.each do |team| %>
    <%= field_for team do |team_fields| %>
      <p>Team <%= team_fields.object.name %> <%= team_fields.check_box %></p>
    <% end %>
  <% end %>
  
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Send an invitation" %></p>
<% end %>

<%= link_to "Home", after_sign_in_path_for(resource_name) %><br />
